<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Yolo3Weights" value="D:\Hoc_Tap\Nam 3\HK2\ThiGiacMay\Project\Yolo3\yolov3.weights"/>
		<add key="Yolo3Cfg" value="D:\Hoc_Tap\Nam 3\HK2\ThiGiacMay\Project\Yolo3\yolov3.cfg"/>
		<add key="CocoName" value="D:\Hoc_Tap\Nam 3\HK2\ThiGiacMay\Project\Yolo3\coco.names"/>
	</appSettings>
</configuration>